@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-xblue {
    background-color: rgba(27, 74, 239, 255);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}
